[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
whisper = "*"
feedparser = "*"
requests = "*"
openai-whisper = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3"
